#textdomain wesnoth-tsotra
[scenario]
    id=dwarves_01
    next_scenario=dwarves_02
    name= _ "Rockfall"
    map_data="{~add-ons/The_Secret_of_the_Red_Anvil/maps/01.map}"

    [event]
    name=prestart 

        [time_area]
            id=cave 
            terrain=Xu,U*,Uu^*,Cud,Kud,Ur,Ur^*
            {UNDERGROUND}
        [/time_area]
    [/event]
    victory_when_enemies_defeated=yes
    carryover_percentage=40
    carryover_add=yes
    {DEFAULT_SCHEDULE}
    {TURNS 45 43 41}

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg battle.ogg}
    {EXTRA_SCENARIO_MUSIC knolls.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC casualties_of_war.ogg}

    [story]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "After the great wars, dwarves and elves slowly learned to live side by side. Distrust between the two peoples never truly faded, yet peace proved more profitable than old grudges."
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "Near the borders of the elvish woods lay the Clan of the Red Anvil, a small clan of dwarven smiths. For generations they had forged weapons, tools, and armor. In recent years they had even begun trading with their elven neighbors. Orc raids had become ever more frequent, and even the folk of the forest had come to rely on fine dwarvish steel."
        [/part]
        [part]
            background=portraits/dwarves/runemaster.webp
            scale_background=no
            story= _ "The clan was led by Arbald Ironhand, a Arcanister whose skill was said to be surpassed only by the legendary Thurgasan himself. But age was slowly catching up with him. By ancient custom, a Arcanister was expected to choose an apprentice before laying down his hammer, yet none of the younger smiths had earned Arbald's full trust."
        [/part]
        [part]
            background=portraits/dwarves/fighter.webp
            scale_background=no
            story= _ "Among them, Farin showed the greatest promise. His hands were quick, his craftsmanship beyond reproach, and few could match his work at the forge. Unfortunately, his tongue was quicker still."
        [/part]
        [part]
            background=portraits/dwarves/fighter-2.webp
            scale_background=no
            story= _ "Brim lacked Farin's brilliance at the anvil, but he made up for it with patience and sound judgment. Where Farin rushed to speak, Brim preferred to listen. Many in the clan believed that, together, the two smiths might one day become the pride of the Red Anvil."
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "One day Farin delivered a shipment of weapons to an elvish settlement. As the local commander examined the blades, he sighed:"
        [/part]
        [part]
            background=portraits/elves/lord.webp 
            scale_background=no
            story= _ "<i>Fine work, as always. It is a pity my people cannot wear steel armor.</i>"
        [/part]
        [part]
            background=portraits/dwarves/fighter.webp
            scale_background=no
            story= _ "<i>Cannot, or will not?</i> - Farin scoffed. - <i>You elves are too afraid of good steel.</i>"
        [/part]
        [part]
            background=portraits/elves/lord.webp 
            scale_background=no
            story= _ "<i>It is not fear</i>, - the elf replied calmly. - <i>Steel is simply not kind to our kind.</i>"
        [/part]
        [part]
            background=portraits/dwarves/fighter.webp
            scale_background=no
            story= _ "Farin snorted. - <i>Ordinary steel, perhaps. But Arbald Ironhand could forge a mail shirt that even an elf could wear without harm.</i>"
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "The elf studied the dwarf in silence, but asked no further questions."
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "Satisfied that he had won the argument, Farin soon forgot the conversation altogether."
        [/part]
        [part] 
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "A few days later, trolls appeared at the gates of the Red Anvil..."
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {SIDE_1_GOLD_FIXED 180 100}
        {FARIN}
        fog=no
        shroud=no
#ifndef MULTIPLAYER
        [unit]
            {BRIM}
            location_id=2
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {BRIM}
        gold=100
        fog=no
        shroud=no
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=trolls
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}
        type=Troll 
        generate_name=yes 
        {GOLD 60 90 120}
        {INCOME 2 4 6}
        recruit=Troll Whelp, Troll Rocklobber
    [/side]
    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=trolls
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}
        type=Troll Hero
        generate_name=yes 
        {GOLD 60 90 120}
        {INCOME 2 4 6}
        recruit=Troll Whelp, Troll Rocklobber
    [/side]
    [side]
        side=5
        {UNPLAYABLE_SIDE}
        team_name=trolls
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}
        type=Troll Rocklobber
        generate_name=yes 
        {GOLD 40 70 100}
        {INCOME 2 4 6}
        recruit=Troll Whelp
    [/side]
    {HERODEATHS}

    {TSOTRA_RUNIC_CHEST_FORCE 5 18}
    {TSOTRA_RUNIC_CHEST_ACCURACY 17 16}

    [event]
    name=prestart 

        [objectives]
            side=1,2
            [objective]
                description=_ "Defeat Troll Chiefs"
                condition=win 
            [/objective]
            [objective]
                description=_ "Death of Farin"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Brim"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                carryover_percentage=40
                bonus=yes
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
    name=start 

        [message]
            speaker=Brim 
            message= _ "Look there. The trolls have shown up."
        [/message]

        [scroll_to_unit]
            side=3
        [/scroll_to_unit]

        [delay]
            time=500 
        [/delay]

        [scroll_to_unit]
            side=4
        [/scroll_to_unit]

        [delay]
            time=500 
        [/delay]

        [scroll_to_unit]
            side=5
        [/scroll_to_unit]

        [delay]
            time=500 
        [/delay]
        [message]
            speaker=Farin
            message= _ "What dragged them out of their filthy holes? The whole tribe's come!"
        [/message]
        [message]
            speaker=Brim 
            message= _ "There are too many of them. If they break through, the clan is finished."
        [/message]
        [message]
            speaker=Farin
            message= _ "They won't. We've driven trolls from these gates before."
        [/message]
        [unit]
            side={MP_PLAYERS_SIDE}
            type=Dwarvish Fighter
            id=Dorin 
            name=_ "Dorin"
            location_id=2
            animate=yes 
        [/unit]
        [message]
            speaker=Brim 
            message= _ "Dorin! Run to the lower mines. Tell our people we're under attack. Everyone who can bear arms is to report to the gates!"
        [/message]
        [message]
            speaker=Dorin
            message= _ "At once!"
        [/message]

        {MOVE_UNIT id=Dorin 1 23}

        [store_unit]
            [filter]
                id=Dorin 
            [/filter]
            kill=yes 
            variable=dorin 
        [/store_unit]

        [message]
            speaker=Farin
            message= _ "As if we couldn't handle them ourselves. Come on, lads. Let's get to work!"
        [/message]

        [message]
            side=4
            canrecruit=yes
            message= _ "Filthy dwarves! We take caves back! Your bones will pave our halls!"
        [/message]
    [/event]

    [event]
    name=turn 10 

        [message]
            speaker=Brim
            message= _ "Dorin should have returned by now. What’s keeping him? He didn’t trip over a hammer, did he?"
        [/message]
    [/event]

    [event]
    name=victory 

        [message]
            speaker=Farin 
            message= _ "And the last one! What’s the matter, beast? A cracked skull makes you think twice about Red Anvil gates, does it?"
        [/message]
        [message]
            speaker=Brim
            message= _ "That should teach them to stay out of our lands. But where is Dorin? He should have returned by now."
        [/message]
        [message]
            speaker=Farin 
            message= _ "We dealt with them quietly enough. All the better. Perhaps now the old master will finally see me as his heir."
        [/message]
        [message]
            speaker=Brim
            message= _ "Or me."
        [/message]
        [message]
            speaker=Farin 
            message= _ "Or you, my friend. You fought no worse than I did."
        [/message]
        {REPLACE_SCENARIO_MUSIC sad.ogg}
        [unstore_unit]
            variable=dorin  
            x,y=1,23 
        [/unstore_unit]
        {MODIFY_UNIT id=Dorin hitpoints 10}
        {MODIFY_UNIT id=Dorin experience 23}
        {MOVE_UNIT id=Dorin 11 17}
        [message]
            speaker=Dorin
            message= _ "Farin! Brim! The old master… Arbald…"
        [/message]
        [message]
            speaker=Farin 
            message= _ "We were just talking about him. What happened? Where have you been?"
        [/message]
        [message]
            speaker=Dorin
            message= _ "The elves broke into the lower halls! They moved like the wind… and took Arbald! Those with me are dead. I could do nothing!"
        [/message]
        [message]
            speaker=Farin 
            message= _ "The elves?! Impossible! How dare they…"
        [/message]
        [message]
            speaker=Brim
            message= _ "Perhaps someone spoke too freely…"
        [/message]
        [message]
            speaker=Farin 
            message= _ "What are you saying? You mean the argument in the elvish settlement?"
        [/message]
        [message]
            speaker=Brim
            message= _ "I don’t know. But the trolls gave them a very convenient moment."
        [/message]
        [message]
            speaker=Farin 
            message= _ "Then it is clear! The elves learned of the troll attack and struck while we were occupied. Cowardly tree-lovers! I knew they could not be trusted! After them!"
        [/message]
        [message]
            speaker=Brim
            message= _ "We must go. But you did speak too openly about Arbald."
        [/message]
        [message]
            speaker=Farin 
            message= _ "It no longer matters. Will you stand there blaming me, or will you come with me and help bring him back?"
        [/message]
        [message]
            speaker=Brim
            message= _ "I will come with you. We will bring Arbald back… before it is too late."
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter]
            side=3 
            canrecruit=yes 
        [/filter]

        [message]
            speaker=unit 
            message= _ "Ugh… troll… no stand…"
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter]
            side=4
            canrecruit=yes 
        [/filter]

        [message]
            speaker=unit 
            message= _ "Cave-kin will remember…"
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter]
            side=5
            canrecruit=yes 
        [/filter]

        [message]
            speaker=unit 
            message= _ "Smash them… all!"
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter_second]
            id=Farin 
        [/filter_second]
        [message]
            speaker=second_unit 
            message=_ "Eat this, stonehead!"
        [/message]
    [/event]
    [event]
    name=die

        [filter_second]
            id=Brim 
        [/filter_second]
        [message]
            speaker=second_unit 
            message=_ "A dead troll is a good troll."
        [/message]
    [/event]

    [event]
        name=scenario_end

        {TSOTRA_CLEAR_RUNE_VARS 1}
        {TSOTRA_CLEAR_RUNE_VARS 2}
    [/event]
[/scenario]
