#textdomain wesnoth-tsotra
[scenario]
    id=dwarves_02
    next_scenario=dwarves_03
    name= _ "Hostile Forest"
    map_data="{~add-ons/The_Secret_of_the_Red_Anvil/maps/02.map}"
    victory_when_enemies_defeated=no
    carryover_percentage=40
    carryover_add=yes
    {DEFAULT_SCHEDULE}
    {TURNS 50 45 40}

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg wanderer.ogg}
    {EXTRA_SCENARIO_MUSIC journeys_end.ogg}
    {EXTRA_SCENARIO_MUSIC underground.ogg}
    {EXTRA_SCENARIO_MUSIC nunc_dimittis.ogg}
    {EXTRA_SCENARIO_MUSIC traveling_minstrels.ogg}

    [story]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "Without wasting a moment, the dwarves of the Red Anvil Clan set out in pursuit. The trail of the kidnappers led them away from the mountains — down toward the edge of the elvish forests."
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "They were forced to recall the harsh days of the past, when dwarf armies did not hesitate to march into elvish woods, and when blood flowed freely on both sides."
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "But those times were long gone. Now the dwarves marched not as conquerors, but fear for Arbald’s life and the fate of the clan drove them onward, leaving no time for doubt and no room to turn back."
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {SIDE_1_GOLD_FIXED 150 75}
        {FARIN}
        fog=yes
        shroud=yes
#ifndef MULTIPLAYER
        [unit]
            {BRIM}
            location_id=2
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {BRIM}
        gold=75
        fog=yes
        shroud=yes
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=monsters
        user_team_name= _ "Monsters"
        {FLAG_VARIANT undead}
        hidden=yes
    [/side]

    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=neutrals
        user_team_name= _ "Neutrals"
        hidden=yes
    [/side]

    {TSOTRA_RUNIC_CHEST_SWIFTNESS 5 45}
    {TSOTRA_RUNIC_CHEST_ACCURACY 4 44}
    {TSOTRA_RUNIC_CHEST_FORCE 5 44}

    [event]
    name=moveto 

        [filter]
            race=dwarf 
            canrecruit=yes 
            y=1
        [/filter]

        [endlevel]
            result=victory 
        [/endlevel]
    [/event]

    [event]
    name=prestart 

        [time_area]
            id=cave 
            y=1-45
            terrain=Xu,U*,Uu^*,Ur,Ur^*,Uh^*
            {UNDERGROUND}
        [/time_area]

        {SCATTER_UNITS {ON_DIFFICULTY 12 15 18} "Wolf, Giant Ant, Woodland Boar, Dragonfly" 6 (
            y=1-43 
            terrain=*^F*
            [and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter_adjacent_location]
                        [filter]
                        [/filter]
                    [/filter_adjacent_location]
                [/not]
            [/and]
        ) (
            side=3
            passable=yes
        )}

        {SCATTER_UNITS {ON_DIFFICULTY 3 5 7} "Great Wolf, Cave Bear" 6 (
            y=1-43 
            terrain=*^F*
            [and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter_adjacent_location]
                        [filter]
                        [/filter]
                    [/filter_adjacent_location]
                [/not]
            [/and]
        ) (
            side=3
            passable=yes
        )}

        {SCATTER_UNITS {ON_DIFFICULTY 1 2 3} "Direwolf" 6 (
            y=1-43 
            terrain=*^F*
            [and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter_adjacent_location]
                        [filter]
                        [/filter]
                    [/filter_adjacent_location]
                [/not]
            [/and]
        ) (
            side=3
            passable=yes
        )}

        {GENERIC_UNIT 3 "Giant Spider" 30 14}{GUARDIAN}
        {GENERIC_UNIT 3 "Ancient Wose" 4 26}{GUARDIAN}
        [+unit]
            moves=0 
        [/unit]
        [item]
            x,y=27,15 
            image=units/drakes/burner.png~RC(magenta>black) 
            halo=projectiles/web.png 
        [/item]

        [kill]
            side=3 
            [filter_location]
                x,y,radius=5,44,8 
            [/filter_location]
            animate=no 
        [/kill]

        [micro_ai]
            side=3
            ai_type=big_animals
            action=add

            [filter]
                side=3
                [not]
                    type=Giant Spider 
                [/not]
                [not]
                    type=Ancient Wose
                [/not]
            [/filter]
            [filter_location]
                y=1-43 
                terrain=*^F*
            [/filter_location]
        [/micro_ai]

        [objectives]
            side=1,2
            [objective]
                description=_ "Move Farin or Brim to the northern map border"
                condition=win 
            [/objective]
            [objective]
                description=_ "Death of Farin"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Brim"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                carryover_percentage=40
                bonus=yes
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
    name=sighted 

        [filter]
            type=Ancient Wose 
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]

        [scroll_to_unit]
            type=Ancient Wose 
        [/scroll_to_unit]

        [message]
            speaker=second_unit 
            message= _ "Look, this is one of old dwarvish outposts, from the war with the elves!"
        [/message]
        [message]
            speaker=Brim
            message= _ "I don't like the look of that tree..."
        [/message]
        [message]
            type=Ancient Wose
            message= _ "Filthy cave-dwellers! You've come to harm the trees again! No more! The forest shall bury your heaps of stone — and your bones with them!"
        [/message]
        [message]
            race=dwarf 
            canrecruit=no
            message= _ "It talks!"
        [/message]
        [message]
            speaker=Farin
            message= _ "Just another one of those sneaky elvish tricks. Chop it down, lads!"
        [/message]
    [/event]

    [event]
    name=last breath

        [filter]
            type=Ancient Wose
        [/filter]

        [message]
            speaker=unit
            message= _ "Back to the earth I return... And soon, cave-dwellers, you shall return as well!"
        [/message]
        [message]
            speaker=second_unit
            message= _ "Aye, once we've torn Arbald from the clutches of your treacherous masters!"
        [/message]
    [/event]

    [event]
    name=sighted 

        [filter]
            type=Ancient Wose 
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]

        [scroll_to_unit]
            type=Ancient Wose 
        [/scroll_to_unit]

        [message]
            speaker=second_unit 
            message= _ "Look, this is one of old dwarvish outposts, from the war with the elves!"
        [/message]
    [/event]


    [event]
    name=die

        [filter]
            type=Ancient Wose
        [/filter]

        [message]
            speaker=second_unit
            message=_ "This tree was hiding something beneath its roots. Look here... an old dwarvish axe!"
        [/message]

        {HIGHLIGHT_IMAGE $unit.x $unit.y items/axe-2.png ()}
        {VARIABLE axe_x $unit.x}
        {VARIABLE axe_y $unit.y}

        [event]
        name=moveto 
        first_time_only=no 
        id=no_take_item_axe

            [filter]
                side=1,2 
                [not]
                    [has_attack]
                        name=axe,battle axe,hatchet,berserker frenzy
                        type=blade 
                    [/has_attack]
                [/not]
                x,y=$axe_x,$axe_y
            [/filter]

            [message]
                speaker=unit 
                message= _ "I don't fight with an axe."
            [/message]
        [/event]

        [event]
        name=moveto 
        first_time_only=no 
        id=take_item_axe

            [filter]
                side=1,2 
                [has_attack]
                    name=axe,battle axe,hatchet,berserker frenzy
                    type=blade 
                [/has_attack]
                x,y=$axe_x,$axe_y
            [/filter]

            [message]
                speaker=unit
                message= _ "Not just any axe. This is the Elfcleaver! They say it claimed the heads of many elven warriors during the old war. We are fortunate indeed to have found such an artifact."
                    [option]
                        label= _ "I'll take it. (gives marksman to all axe attacks)"
                        [command]
                            [remove_event]
                                id=take_item_axe
                            [/remove_event]
                            [remove_event]
                                id=no_item_axe
                            [/remove_event]

                            {REMOVE_IMAGE $axe_x $axe_y}

                            [object]
                                name=_"Axe"
                                image=items/axe-2.png
                                description= _ "An ancient dwarvish axe of masterful craftsmanship, forged especially to strike down nimble enemies."
                                duration=forever
                                [filter]
                                    find_in=unit
                                [/filter]
                                [effect]
                                    apply_to=attack
                                    type=blade 
                                    [set_specials]
                                        mode=append 
                                        {WEAPON_SPECIAL_MARKSMAN}
                                    [/set_specials]
                                [/effect]
                            [/object]
                        [/command]
                    [/option]
                    [option]
                        label= _ "I'll leave this for someone else."
                        [command]
                            [allow_undo] 
                            [/allow_undo]
                        [/command]
                    [/option]
            [/message]
        [/event]
    [/event]

    [event]
    name=sighted 

        [filter]
            type=Giant Spider
        [/filter]
        [filter_second]
            side=1,2
        [/filter_second]

        [scroll_to_unit]
            type=Giant Spider
        [/scroll_to_unit]

        [message]
            speaker=second_unit 
            message= _ "A cave! Could this lead to the elvish city?"
        [/message]
        [message]
            speaker=Brim
            message= _ "Not so fast. That's no cave — it's a spider's lair. And it looks like someone's caught in its web."
        [/message]
    [/event]

    [event]
    name=die

        [filter]
            type=Giant Spider
        [/filter]
        [message]
            speaker=second_unit 
            message= _ "I hate those vermin!"
        [/message]
    [/event]

    [event]
    name=moveto,enter_hex

        [filter]
            side=1,2 
            [filter_location]
                x,y,radius=27,15,1
            [/filter_location]
        [/filter]
        [cancel_action][/cancel_action]
        
        {REMOVE_IMAGE 27 15}
        [unit]
            side=4
            type=Drake Burner 
            id=Rashakan 
            name= _ "Rashakan"
            {IS_HERO}
            hitpoints=1 
            x,y=27,15
            experience=40 
            animate=yes 
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_RESILIENT}
            [/modifications]
            [status]
                poisoned=yes 
            [/status]
        [/unit]

        [message]
            speaker=unit 
            message= _ "Is it... a dragon?"
        [/message]
        [message]
            speaker=Rashakan
            message= _ "Not a dragon, though my people are descended from them. My name is Rashakan. My clan flew here from distant lands to hunt, but the prey proved stronger than the hunters. My clan is dead, and my name is stained with shame. Fight me — I wish to die as a warrior!"
        [/message]
        [message]
            speaker=Brim
            message= _ "Wait, Rashakan! Can you breathe fire?"
        [/message]
        [message]
            speaker=Rashakan
            message= _ "Yes."
        [/message]
        [message]
            speaker=Brim
            message= _ "And how hot is your flame?"
        [/message]
        [message]
            speaker=Rashakan
            message= _ "Hot enough to melt iron!"
        [/message]
        [message]
            speaker=Brim
            message= _ "Then join us, Rashakan! Our clan lives by the forge. With your dragon fire, we could craft wonders never seen before!"
        [/message]
        [message]
            speaker=Rashakan
            message= _ "My people know the forge well, and I have worked the anvil myself. I would gladly join you, but my heart burns for vengeance. This forest has taken everything from me."
        [/message]
        [message]
            speaker=Farin
            message= _ "Then our paths are the same. The folk of this forest have kidnapped our master, and we're going to bring him home. Fight beside us, and you'll have your fill of battle."
        [/message]
        [message]
            speaker=Rashakan
            message= _ "Very well. I will join you."
        [/message]
        
        {MODIFY_UNIT id=Rashakan side $unit.side}
        [modify_unit]
            [filter]
                id=Rashakan 
            [/filter]
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/modify_unit]
    [/event]

    [event]
    name=start 

        [message]
            speaker=Farin 
            message= _ "I’ve been in the elven forest before, but I never thought I’d enter it as a warrior. It feels… strange."
        [/message]
        [message]
            speaker=Brim
            message= _ "I feel the same. Everything in this forest will be against us. Farin, do you remember the way?"
        [/message]
        [message]
            speaker=Farin 
            message= _ "Do you think we should head for that settlement?"
        [/message]
        [message]
            speaker=Brim
            message= _ "It is the only major elven settlement in the area. Where else would they take Arbald?"
        [/message]
        [message]
            speaker=Farin 
            message= _ "You’re right. North, then. We must keep our ears open — when we traded with the elves, they warned us of wild beasts in these woods."
        [/message]
        [message]
            speaker=Brim
            message= _ "I remember there are several hills in this forest. If we keep to them, we should be able to handle the beasts."
        [/message]
        [message]
            speaker=Farin 
            message= _ "Then we stick to the hills. Move quickly — before the elves drag Arbald any deeper into the forest."
        [/message]
    [/event]

    [event]
    name=die 

        [filter]
            type=Woodland Boar 
        [/filter]
        [filter_second]
            race=dwarf 
        [/filter_second]

        [message]
            speaker=second_unit 
            message= _ "Fine boar! We'll have it roasting on a spit tonight!"
        [/message]
    [/event]

    [event]
    name=new turn
    first_time_only=no 

        [filter_condition]
            [not]
                [have_unit]
                    side=3
                    #ifdef EASY
                    count=16-999
                    #endif
                    #ifdef NORMAL
                    count=22-999
                    #endif
                    #ifdef HARD
                    count=28-999
                    #endif
                [/have_unit]
            [/not]
        [/filter_condition]

        {SCATTER_UNITS 3 "Wolf, Giant Ant, Woodland Boar, Dragonfly" 6 (
            y=1-43 
            terrain=*^F*
            [and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter_adjacent_location]
                        [filter]
                        [/filter]
                    [/filter_adjacent_location]
                [/not]
            [/and]
        ) (
            side=3
            passable=yes
            animate=yes
        )}
    [/event]
    [event]
    name=victory 

        [message]
            speaker=Farin 
            message= _ "This forest isn’t so frightening after all. We are almost at our goal."
        [/message]
        [message]
            speaker=Brim
            message= _ "Now we will have to face the elves."
        [/message]
        [message]
            speaker=Farin 
            message= _ "After what they’ve done, I am ready to tear their settlement apart!"
        [/message]
        [message]
            speaker=Rashakan
            message= _ "Elves! Barely a mouthful of meat, yet so much trouble! Let's wipe them out!"
        [/message]
        [message]
            speaker=Brim
            message= _ "Do not get carried away. We still need to make it out of this forest."
        [/message]
    [/event]
    {HERODEATHS}
    [event]
        name=scenario_end

        {TSOTRA_CLEAR_RUNE_VARS 1}
        {TSOTRA_CLEAR_RUNE_VARS 2}
    [/event]
[/scenario]
