#textdomain wesnoth-tsotra
[scenario]
    id=dwarves_04
    next_scenario=dwarves_ep
    name= _ "Between Hammer and Anvil"
    map_data="{~add-ons/The_Secret_of_the_Red_Anvil/maps/04.map}"
    victory_when_enemies_defeated=no
    carryover_percentage=0
    carryover_add=no
    {DEFAULT_SCHEDULE}
    {TURNS 15 12 10}

    {INTRO_AND_SCENARIO_MUSIC frantic.ogg the_city_falls.ogg}
    {EXTRA_SCENARIO_MUSIC battle-epic.ogg}
    {EXTRA_SCENARIO_MUSIC legends_of_the_north.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC northern_mountains.ogg}

    [story]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "The dwarves ran as fast as they could, doing their best to shield Arbald. It was no easy task: the old master never stopped berating his would-be rescuers, and from time to time rewarded them with a hearty cuff besides."
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "At last, their home mountains came into view. There was little distance left between them and home."
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {SIDE_1_GOLD_FIXED 150 75}
        {FARIN}
        fog=no
        shroud=yes
        income=10
#ifndef MULTIPLAYER
        [unit]
            {BRIM}
            location_id=2
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {BRIM}
        gold=75
        income=10
        fog=no
        shroud=yes
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=elves
        user_team_name= _ "Elves"
        {FLAG_VARIANT wood-elvish}
        hidden=no 
        type=Elvish Lord
        id=Nythalos
        name= _ "Lord Nythalos"
        generate_name=yes 
        {GOLD 500 700 900}
        income=100
        recruit=Elvish Fighter, Elvish Archer, Elvish Shaman, Elvish Captain, Elvish Hero, Elvish Druid, Elvish Sorceress, Elvish Marksman, Elvish Ranger, Wose, Elder Wose
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=elves
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}
        hidden=yes
        type=Troll Warrior 
        generate_name=yes 
        {GOLD 230 290 350}
        {INCOME 10 20 30}
        recruit=Troll Whelp, Troll, Troll Rocklobber 
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=5
        {UNPLAYABLE_SIDE}
        team_name=elves
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}
        hidden=yes
        type=Troll Warrior 
        generate_name=yes 
        {GOLD 230 290 350}
        {INCOME 10 20 30}
        recruit=Troll Whelp, Troll, Troll Rocklobber 
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    {TSOTRA_RUNIC_CHEST_FORCE 38 7}
    {TSOTRA_RUNIC_CHEST_FORCE 40 13}

    {TSOTRA_RUNIC_CHEST_FORCE 38 7}
    {TSOTRA_RUNIC_CHEST_FORCE 40 13}

    {TSOTRA_RUNIC_CHEST_ACCURACY 38 7}
    {TSOTRA_RUNIC_CHEST_ACCURACY 31 12}

    [event]
    name=prestart 

        {PLACE_IMAGE scenery/signpost.png 17 11}

        [recall]
            id=Arbald 
        [/recall]

        [hide_unit]
            side=1,2 
        [/hide_unit]

        [capture_village]
            side=3
            x=1-21 
        [/capture_village]
        [remove_shroud]
            side=1,2 
            x=0-37
            [not]
                terrain=Xu,U*,Uu^*,Cud,Kud,Ur,Ur^*
            [/not]
        [/remove_shroud]
        [time_area]
            id=cave 
            x=28-66
            terrain=Xu,U*,Uu^*,Cud,Kud,Ur,Ur^*,Re,Re^*,Cte,Kte,Uh^*
            {UNDERGROUND}
        [/time_area]

        [objectives]
            side=1,2
            [objective]
                description=_ "Move Farin or Brim to the dwarvish keep"
                condition=win 
            [/objective]
            [objective]
                description=_ "Death of Farin"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Brim"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Arbald the Iron"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            {IS_LAST_SCENARIO}
        [/objectives]
    [/event]
    
    [event]
    name=moveto 

        [filter]
            side=1,2 
            x=17
            y=11 
        [/filter]

        [message]
            speaker=narrator 
            image=scenery/signpost.png 
            message= _ "Right: Red Anvil Clan 
Left: Elves and other creatures"
        [/message]
    [/event]
    
    [event]
    name=start 

        [unhide_unit]
            id=Farin 
        [/unhide_unit]

        {MOVE_UNIT id=Farin 14 11}

        [unhide_unit]
            id=Arbald
        [/unhide_unit]

        {MOVE_UNIT id=Arbald 15 12}

        [unhide_unit]
            id=Brim
        [/unhide_unit]

        {MOVE_UNIT id=Brim 14 12}

        [recall]
            id=Rashakan 
            location_id=1
        [/recall]
        {MOVE_UNIT id=Rashakan 14 11}

        [message]
            speaker=Farin
            message= _ "Our mountains at last! I was beginning to think we would never make it!"
        [/message]

        [message]
            speaker=Brim
            message= _ "We're not there yet. There are still several miles to go."
        [/message]

        [message]
            speaker=Arbald
            message= _ "Just get me home! Then I'll teach you fools a lesson you'll never forget!"
        [/message]

        [message]
            speaker=Nythalos
            message= _ "I have grown weary of this chase. Kill them all... but bring the old dwarf to me alive!"
        [/message]

        [message]
            speaker=Farin
            message= _ "Run!"
        [/message]
    [/event]

    [event]
    name=turn 3 

        [filter_condition] 
            [have_unit]
                id=Rashakan 
            [/have_unit]
        [/filter_condition]

        [message]
            speaker=Rashakan 
            message= _ "How long are we going to keep running?! Let's tear apart these elves!"
        [/message]
        [message]
            speaker=Arbald
            message= _ "Mad beast!"
        [/message]
        [message]
            speaker=Farin
            message= _ "Steady, Rashakan. We'll have our fight when we reach the caves."
        [/message]
    [/event]

    [event]
    name=moveto 

        [filter]
            race=dwarf 
            canrecruit=yes 
            [filter_location]
                terrain=Kud
            [/filter_location]
        [/filter]

        [message]
            speaker=Farin
            message= _ "At last, our home caves! Surely the elves will turn back now!"
        [/message]

        [message]
            speaker=Brim
            message= _ "It doesn't look like they intend to."
        [/message]

        [message]
            speaker=Arbald
            message= _ "What are you standing around for, you fools?! Muster every dwarf in the clan! Let the elves pay for their insolence in blood!"
        [/message]

        [message]
            speaker=Brim
            message= _ "To arms!"
        [/message]

        [sound]
            name=horn-signals/horn-1.ogg 
        [/sound]

        {GENERIC_UNIT 1 "Dwarvish Steelclad" 36 8}
        [+unit]
            animate=yes 
        [/unit]
        {GENERIC_UNIT {MP_PLAYERS_SIDE} "Dwarvish Steelclad" 36 13}
        [+unit]
            animate=yes 
        [/unit]

        {GENERIC_UNIT 1 "Dwarvish Thunderguard" 35 9}
        [+unit]
            animate=yes 
        [/unit]
        {GENERIC_UNIT {MP_PLAYERS_SIDE} "Dwarvish Thunderguard" 35 13}
        [+unit]
            animate=yes 
        [/unit]

        {GENERIC_UNIT 1 "Dwarvish Stalwart" 35 10}
        [+unit]
            animate=yes 
        [/unit]
        {GENERIC_UNIT {MP_PLAYERS_SIDE} "Dwarvish Stalwart" 35 12}
        [+unit]
            animate=yes 
        [/unit]

        [message]
            speaker=Rashakan 
            message= _ "Finally!"
        [/message]

        [message]
            speaker=Nythalos
            message= _ "So, another battle between elves and dwarves is at hand. Keep up the assault! Their defenses will soon crumble like rotten timber."
        [/message]

        [modify_turns]
            add={ON_DIFFICULTY 15 20 25}
        [/modify_turns]

        [objectives]
            side=1,2
            [objective]
                description= _ "Last for the end of turns"
                condition=win
                show_turn_counter=yes
            [/objective]
            [objective]
                description=_ "Death of Farin"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Brim"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Arbald the Iron"
                condition=lose
            [/objective]
            {IS_LAST_SCENARIO}
        [/objectives]

        [event]
        name=time over 

            [endlevel]
                result=victory 
                carryover_report=no
            [/endlevel]
        [/event]

        [event]
        name=new turn 
        id=troll_counter 
        first_time_only=no 

            {VARIABLE_OP trolls add 1}
        [/event]
    [/event]

    [event]
        name=side 4 turn
        [filter_condition]
            [variable]
                name=trolls
                numerical_equals=7
            [/variable]
        [/filter_condition]

        [scroll_to]
            x,y=57,12
        [/scroll_to]

        [terrain]
            x=53,54,55
            y=8,8,9
            terrain=Xur
        [/terrain]
        [terrain]
            x=57,58,59
            y=15,15,16
            terrain=Xur
        [/terrain]

        [sound]
            name=cave-in.ogg 
        [/sound]
        [redraw][/redraw]

        [message]
            speaker=Farin 
            scroll=no 
            message= _ "Something is breaking through the cave walls from the inside!"
        [/message]
        [message]
            speaker=Arbald
            scroll=no 
            message= _ "Don't just stand there! Send a squad of dwarves to defend the rear!"
        [/message]
    [/event]

    [event]
        name=side 4 turn
        [filter_condition]
            [variable]
                name=trolls
                numerical_equals=10 
            [/variable]
        [/filter_condition]

        [scroll_to]
            x,y=57,12
        [/scroll_to]

        [terrain]
            x=53,54,55
            y=8,8,9
            terrain=Uu 
        [/terrain]
        [terrain]
            x=57,58,59
            y=15,15,16
            terrain=Uu 
        [/terrain]

        [sound]
            name=cave-in.ogg 
        [/sound]
        [redraw][/redraw]

        [remove_event]
            id=troll_counter
        [/remove_event]

        [modify_side]
            side=4
            hidden=no 
        [/modify_side]
        [modify_side]
            side=5
            hidden=no 
        [/modify_side]

        [message]
            speaker=Farin
            message= _ "The walls have fallen! The trolls are pouring through the breach!"
        [/message]
        [message]
            speaker=Brim
            message= _ "Things aren't looking good for us."
        [/message]
        [message]
            speaker=Arbald
            message= _ "You shouldn't have been wagging your tongue! Now fight like dwarves!"
        [/message]
    [/event]
    [event]
    name=victory 

        {FLASH_GREEN (
            [sound]
                name=magic-faeriefire.ogg 
            [/sound]
            [unit]
                type=Elvish Shyde
                name= _ "Lady Eloven"
                canrecruit=yes 
                side=3 
                x,y=3,2
            [/unit]
            {REPEAT 6 (
            {GENERIC_UNIT 3 "Elvish Outrider" 3 2}
            )}
        )}

        {REPLACE_SCENARIO_MUSIC elf-land.ogg}
        [message]
            type=Elvish Shyde
            message= _ "Enough! In the name of the Council, I order all elves to retreat!"
        [/message]

        [message]
            speaker=Nythalos
            message= _ "Lady Eloven? I… didn’t expect to see you here."
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "Of course you didn’t—otherwise you wouldn’t have sent dozens of elves to a senseless slaughter against the dwarves. And this at a time when the orc threat looms over our forests! I demand an explanation, Lord Nythalos."
        [/message]

        [message]
            speaker=Nythalos
            message= _ "I beg your pardon, my lady. My actions may seem reckless, but I am pursuing a noble goal. The leader of these dwarves knows how to forge a special metal for the elves. With him, we can solve this age-old problem and clad our warriors in steel armor! Then no one will be able to threaten us. We are one step away from victory, my lady. I beg you, let us continue the assault!"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "Fear has clouded your judgment, Nythalos. You have forgotten that nature cannot be deceived. And even if it were possible, it’s not worth starting a war with the dwarves. In the name of the Council, I strip you of your lordly mantle! You will be sent to Ka’lian, where you will answer for your actions before the High Court."
        [/message]

        {MODIFY_UNIT  type="Elvish Lord" canrecruit no}
        {ADVANCE_UNIT type="Elvish Lord" "Elvish Fighter"}
        {MODIFY_UNIT id=Nythalos name (_ "Nythalos")}

        [message]
            speaker=Nythalos
            message= _ "Yes, my lady."
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "Dwarves, which one of you is the leader? I want to speak with him about making peace."
        [/message]

        [message]
            speaker=Arbald
            message= _ "I am the leader of these dwarves. And here’s what I’ll tell you: it will be difficult to make peace after what your thugs have done here!"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "On behalf of the elves, I offer my apologies to your clan. I give you my word — all those who participated in the attack on you will be punished."
        [/message]

        [message]
            speaker=Arbald
            message= _ "Do whatever you want with them—what's it to me? But you killed my apprentices, destroyed my halls, and set a tribe of trolls on us—who's going to pay for that?"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "We’ll compensate you for these losses and help drive out the trolls, honored dwarf. But from this day forward, your people will be forbidden to set foot in the elven forests."
        [/message]

        [message]
            speaker=Arbald
            message= _ "We really are better off staying out of each other’s way. All right, a thousand gold pieces — and there will be peace between us again!"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "<i>(sighs)</i>. It’s a deal."
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter]
            side=4
            canrecruit=yes 
        [/filter]

        [message]
            speaker=unit 
            message= _ "Smash… before fall!"
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter]
            side=5
            canrecruit=yes 
        [/filter]

        [message]
            speaker=unit 
            message= _ "I hear stones..."
        [/message]
    [/event]
    
    {HERODEATHS}
[/scenario]
