#textdomain wesnoth-tsotra
[scenario]
    id=dwarves_04
    next_scenario=dwarves_ep
    name= _ "Between Hammer and Anvil"
    map_data="{~add-ons/The_Secret_of_the_Red_Anvil/maps/04.map}"
    victory_when_enemies_defeated=no
    carryover_percentage=0
    carryover_add=no
    {DEFAULT_SCHEDULE}
    {TURNS 15 12 10}

    {INTRO_AND_SCENARIO_MUSIC frantic.ogg the_city_falls.ogg}
    {EXTRA_SCENARIO_MUSIC battle-epic.ogg}
    {EXTRA_SCENARIO_MUSIC legends_of_the_north.ogg}
    {EXTRA_SCENARIO_MUSIC knalgan_theme.ogg}
    {EXTRA_SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC northern_mountains.ogg}

    [story]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "The dwarves ran as fast as they could, doing their best to shield Arbald. It was no easy task: the old master never stopped berating his would-be rescuers, and from time to time rewarded them with a hearty cuff besides."
        [/part]
        [part]
            [background_layer]
                image=story/landscape-hills-01.webp
                scale_vertically=no
            [/background_layer]
            story= _ "At last, their home mountains came into view. There was little distance left between them and home."
        [/part]
    [/story]

    [side]
        side=1
        {SIDE_1_ESSENTIALS}
        {SIDE_1_GOLD_FIXED 150 75}
        {FARIN}
        fog=no
        shroud=yes
        income=10
#ifndef MULTIPLAYER
        [unit]
            {BRIM}
            location_id=2
        [/unit]
#endif
    [/side]

    [side]
        side=2
        {SIDE_2_ESSENTIALS}
        {BRIM}
        gold=75
        income=10
        fog=no
        shroud=yes
    [/side]

    [side]
        side=3
        {UNPLAYABLE_SIDE}
        team_name=elves
        user_team_name= _ "Elves"
        {FLAG_VARIANT wood-elvish}
        hidden=no 
        type=Elvish Lord
        id=Nythalos
        name= _ "Lord Nythalos"
        generate_name=yes 
        {GOLD 500 700 900}
        income=100
        recruit=Elvish Fighter, Elvish Archer, Elvish Shaman, Elvish Captain, Elvish Hero, Elvish Druid, Elvish Sorceress, Elvish Marksman, Elvish Ranger, Wose, Elder Wose
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=4
        {UNPLAYABLE_SIDE}
        team_name=elves
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}
        hidden=yes
        type=Troll Warrior 
        generate_name=yes 
        {GOLD 230 290 350}
        {INCOME 10 20 30}
        recruit=Troll Whelp, Troll, Troll Rocklobber 
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    [side]
        side=5
        {UNPLAYABLE_SIDE}
        team_name=elves
        user_team_name= _ "Trolls"
        {FLAG_VARIANT ragged}
        hidden=yes
        type=Troll Warrior 
        generate_name=yes 
        {GOLD 230 290 350}
        {INCOME 10 20 30}
        recruit=Troll Whelp, Troll, Troll Rocklobber 
        [ai]
            passive_leader=yes 
        [/ai]
    [/side]

    {TSOTRA_RUNIC_CHEST_FORCE 38 7}
    {TSOTRA_RUNIC_CHEST_FORCE 40 13}

    {TSOTRA_RUNIC_CHEST_FORCE 38 7}
    {TSOTRA_RUNIC_CHEST_FORCE 40 13}

    {TSOTRA_RUNIC_CHEST_ACCURACY 38 7}
    {TSOTRA_RUNIC_CHEST_ACCURACY 31 12}

    [event]
    name=prestart 

        {PLACE_IMAGE scenery/signpost.png 17 11}

        [recall]
            id=Arbald 
        [/recall]

        [hide_unit]
            side=1,2 
        [/hide_unit]

        [capture_village]
            side=3
            x=1-21 
        [/capture_village]
        [remove_shroud]
            side=1,2 
            x=0-37
            [not]
                terrain=Xu,U*,Uu^*,Cud,Kud,Ur,Ur^*
            [/not]
        [/remove_shroud]
        [time_area]
            id=cave 
            x=28-66
            terrain=Xu,U*,Uu^*,Cud,Kud,Ur,Ur^*,Re,Re^*,Cte,Kte,Uh^*
            {UNDERGROUND}
        [/time_area]

        [objectives]
            side=1,2
            [objective]
                description=_ "Move Farin or Brim to the dwarvish keep"
                condition=win 
            [/objective]
            [objective]
                description=_ "Death of Farin"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Brim"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Arbald the Iron"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            {IS_LAST_SCENARIO}
        [/objectives]
    [/event]
    
    [event]
    name=moveto 

        [filter]
            side=1,2 
            x=17
            y=11 
        [/filter]

        [message]
            speaker=narrator 
            image=scenery/signpost.png 
            message= _ "Right: Red Anvil Clan 
Left: Elves and other creatures"
        [/message]
    [/event]
    
    [event]
    name=start 

        [unhide_unit]
            id=Farin 
        [/unhide_unit]

        {MOVE_UNIT id=Farin 14 11}

        [unhide_unit]
            id=Arbald
        [/unhide_unit]

        {MOVE_UNIT id=Arbald 15 12}

        [unhide_unit]
            id=Brim
        [/unhide_unit]

        {MOVE_UNIT id=Brim 14 12}

        [recall]
            id=Rashakan 
            location_id=1
        [/recall]
        {MOVE_UNIT id=Rashakan 14 11}

        [message]
            speaker=Farin
            message= _ "Our mountains at last! I was beginning to think we would never make it!"
        [/message]

        [message]
            speaker=Brim
            message= _ "We're not there yet. There are still several miles to go."
        [/message]

        [message]
            speaker=Arbald
            message= _ "Just get me home! Then I'll teach you fools a lesson you'll never forget!"
        [/message]

        [message]
            speaker=Nythalos
            message= _ "I have grown weary of this chase. Kill them all... but bring the old dwarf to me alive!"
        [/message]

        [message]
            speaker=Farin
            message= _ "Run!"
        [/message]
    [/event]

    [event]
    name=turn 3 

        [filter_condition] 
            [have_unit]
                id=Rashakan 
            [/have_unit]
        [/filter_condition]

        [message]
            speaker=Rashakan 
            message= _ "How long are we going to keep running?! Let's tear apart these elves!"
        [/message]
        [message]
            speaker=Arbald
            message= _ "Mad beast!"
        [/message]
        [message]
            speaker=Farin
            message= _ "Steady, Rashakan. We'll have our fight when we reach the caves."
        [/message]
    [/event]

    [event]
    name=moveto 

        [filter]
            race=dwarf 
            canrecruit=yes 
            [filter_location]
                terrain=Kud
            [/filter_location]
        [/filter]

        [message]
            speaker=Farin
            message= _ "At last, our home caves! Surely the elves will turn back now!"
        [/message]

        [message]
            speaker=Brim
            message= _ "It doesn't look like they intend to."
        [/message]

        [message]
            speaker=Arbald
            message= _ "What are you standing around for, you fools?! Muster every dwarf in the clan! Let the elves pay for their insolence in blood!"
        [/message]

        [message]
            speaker=Brim
            message= _ "To arms!"
        [/message]

        [sound]
            name=horn-signals/horn-1.ogg 
        [/sound]

        {GENERIC_UNIT 1 "Dwarvish Steelclad" 36 8}
        [+unit]
            animate=yes 
        [/unit]
        {GENERIC_UNIT {MP_PLAYERS_SIDE} "Dwarvish Steelclad" 36 13}
        [+unit]
            animate=yes 
        [/unit]

        {GENERIC_UNIT 1 "Dwarvish Thunderguard" 35 9}
        [+unit]
            animate=yes 
        [/unit]
        {GENERIC_UNIT {MP_PLAYERS_SIDE} "Dwarvish Thunderguard" 35 13}
        [+unit]
            animate=yes 
        [/unit]

        {GENERIC_UNIT 1 "Dwarvish Stalwart" 35 10}
        [+unit]
            animate=yes 
        [/unit]
        {GENERIC_UNIT {MP_PLAYERS_SIDE} "Dwarvish Stalwart" 35 12}
        [+unit]
            animate=yes 
        [/unit]

        [message]
            speaker=Rashakan 
            message= _ "Finally!"
        [/message]

        [message]
            speaker=Nythalos
            message= _ "So, another battle between elves and dwarves is at hand. Keep up the assault! Their defenses will soon crumble like rotten timber."
        [/message]

        [modify_turns]
            add={ON_DIFFICULTY 15 20 25}
        [/modify_turns]

        [objectives]
            side=1,2
            [objective]
                description= _ "Last for the end of turns"
                condition=win
                show_turn_counter=yes
            [/objective]
            [objective]
                description=_ "Death of Farin"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Brim"
                condition=lose
            [/objective]
            [objective]
                description=_ "Death of Arbald the Iron"
                condition=lose
            [/objective]
            {IS_LAST_SCENARIO}
        [/objectives]

        [event]
        name=time over 

            [endlevel]
                result=victory 
                carryover_report=no
            [/endlevel]
        [/event]

        [event]
        name=new turn 
        id=troll_counter 
        first_time_only=no 

            {VARIABLE_OP trolls add 1}
        [/event]
    [/event]

    [event]
        name=side 4 turn
        [filter_condition]
            [variable]
                name=trolls
                numerical_equals=10 
            [/variable]
        [/filter_condition]

        [scroll_to]
            x,y=57,12
        [/scroll_to]

        [terrain]
            x=53,54,55
            y=8,8,9
            terrain=Uu 
        [/terrain]
        [terrain]
            x=57,58,59
            y=15,15,16
            terrain=Uu 
        [/terrain]

        [sound]
            name=cave-in.ogg 
        [/sound]
        [redraw][/redraw]

        [remove_event]
            id=troll_counter
        [/remove_event]

        [modify_side]
            side=4
            hidden=no 
        [/modify_side]
        [modify_side]
            side=5
            hidden=no 
        [/modify_side]

        [message]
            speaker=Farin
            message= _ "What's that rumbling behind us?"
        [/message]

        [message]
            speaker=Brim
            message= _ "Hear that? Trolls. They've broken into the caves."
        [/message]

        [message]
            speaker=Farin
            message= _ "How are we supposed to hold the fortress with trolls at our backs?"
        [/message]

        [message]
            speaker=Arbald
            message= _ "With hammer and shield, you fool! Hammer and shield! That's better than wagging your tongue!"
        [/message]
    [/event]
    [event]
    name=victory 

        {FLASH_GREEN (
            [sound]
                name=magic-faeriefire.ogg 
            [/sound]
            [unit]
                type=Elvish Shyde
                name= _ "Lady Elowen"
                canrecruit=yes 
                side=3 
                x,y=3,2
            [/unit]
            {REPEAT 6 (
            {GENERIC_UNIT 3 "Elvish Outrider" 3 2}
            )}
        )}

        {REPLACE_SCENARIO_MUSIC elf-land.ogg}
        [message]
            type=Elvish Shyde
            message= _ "Enough! By order of the Council, I command all elves to withdraw!"
        [/message]

        [message]
            speaker=Nythalos
            message= _ "My lady? I did not expect to see you here."
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "Of course not. Otherwise you would not have abducted the dwarvish elder and sent dozens of elves to their deaths in reckless assaults on the caves. And all this while the orcs are drawing ever closer to our borders. What were you thinking, lord?"
        [/message]

        [message]
            speaker=Nythalos
            message= _ "Forgive me, my lady. My actions may seem reckless, but they were all for the sake of our people. The dwarvish elder knows how to forge armor harmless to elves. Our people need this secret! And we are on the brink of obtaining it! I beg you, my lady — do not halt the assault!"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "What you say is unworthy of an elvish lord. Even if the dwarves possessed such a craft, it would not be worth a war between our peoples. You have allowed fear to cloud your judgment. By order of the Council, I strip you of your lordly mantle! You will be sent to Ka-Lian and answer for your crimes before the court."
        [/message]

        {MODIFY_UNIT  type="Elvish Lord" canrecruit no}
        {ADVANCE_UNIT type="Elvish Lord" "Elvish Fighter"}
        {MODIFY_UNIT id=Nythalos name (_ "Nythalos")}

        [message]
            speaker=Nythalos
            message= _ "Yes, my lady."
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "Dwarves, who among you is your leader? I wish to make peace with him."
        [/message]

        [message]
            speaker=Arbald
            message= _ "I am the elder of these dwarves, lady. It will not be easy to reach an agreement after what your brigands have done!"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "I assure you, honored dwarf, all elves who took part in the attack will be punished. As a wise and experienced leader, you must understand that it is far better for our peoples to live in peace — especially now, when the orcish threat looms over the continent."
        [/message]

        [message]
            speaker=Arbald
            message= _ "I understand that well enough, even without any orcs! And still, your forces have slain many of my apprentices and battered our fortifications. It will take a great deal of gold to repair the damage!"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "Peace is worth more to us than gold. We will compensate you for your losses."
        [/message]

        [message]
            speaker=Arbald
            message= _ "Then we have an accord! And I’ll make sure my own folk learn to keep their tongues in check—so well that your arrows will feel gentle by comparison!"
        [/message]

        [message]
            type=Elvish Shyde
            message= _ "Long live peace! Speaking of more practical matters than elvish steel armor, I would like to commission a batch of swords and arrowheads from you as soon as possible."
        [/message]

        [message]
            speaker=Arbald
            message= _ "That can be done! Bring the gold, and I’ll get right to it. And these two will be working for me until they drop!"
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter]
            side=4
            canrecruit=yes 
        [/filter]

        [message]
            speaker=unit 
            message= _ "Smash… before fall!"
        [/message]
    [/event]

    [event]
    name=last breath 

        [filter]
            side=5
            canrecruit=yes 
        [/filter]

        [message]
            speaker=unit 
            message= _ "I hear stones..."
        [/message]
    [/event]
    
    {HERODEATHS}
[/scenario]
