#textdomain wesnoth-tsotra
[textdomain]
    name=wesnoth-tsotra
    path="data/add-ons/The_Secret_of_the_Red_Anvil/translations"
[/textdomain]

[campaign]
    id=The Secret of the Red Anvil
    icon="items/anvil.png"
    name= _"The Secret of the Red Anvil"
    require_campaign=no
    type=hybrid
    min_players=2
    max_players=2
    abbrev= _ "TSOTRA"
    rank=333
    start_year=""
    end_year=""
    define=TSOTRA
    description=_ "<i>Beneath the stone an old home lies,
Where hammer rules and fire flies.
But one harsh word, once spoken true,
Brings enemies to gates anew.

Where silence once upon us fell,
Now steel must speak the words as well.</i>

"+ _ "(Intermediate level, 4 scenarios)"
    description_alignment = "center"
    first_scenario=dwarves_01
    image="portraits/dwarves/runemaster.webp"

    {ENABLE_DWARVISH_RUNESMITH}

    {CAMPAIGN_DIFFICULTY EASY "units/dwarves/runesmith.png~RC(magenta>red)" ( _ "Runesmith") ( _ "Easy")} 
    {CAMPAIGN_DIFFICULTY NORMAL "units/dwarves/runemaster.png~RC(magenta>red)" ( _ "Runemaster") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD "units/dwarves/arcanister.png~RC(magenta>red)" ( _ "Arcanister") ( _ "Hard")}
    
    [about]
        title=_ "Campaign Creation"
        [entry]
            name=_"Mechanical"
        [/entry]
    [/about]
    [about]
        title=_ "Testing"
        [entry]
            name=_"dwarftough"
        [/entry]
    [/about]
    {~add-ons/The_Secret_of_the_Red_Anvil/utils}
    [lua]
        code=<<wesnoth.dofile "campaigns/Sceptre_of_Fire/lua/rune-equip.lua">>
    [/lua]
[/campaign]

#ifdef TSOTRA
[binary_path]
    path=data/add-ons/The_Secret_of_the_Red_Anvil
[/binary_path]

{~add-ons/The_Secret_of_the_Red_Anvil/scenarios}
#endif
