#textdomain wesnoth-Dwarves

#define FARIN
    id=Farin
    type=Dwarvish Fighter
    profile=portraits/dwarves/fighter.webp
    name=_ "Farin"
    unrenamable=yes
    canrecruit=yes
    [modifications]
        {TRAIT_STRONG}
        {TRAIT_QUICK}
    [/modifications]
#enddef

#define BRIM
    id=Brim
    type=Dwarvish Fighter
    profile=portraits/dwarves/fighter-2.webp
    name=_ "Brim"
    unrenamable=yes
    canrecruit=yes
    random_traits=no
    [modifications]
        {TRAIT_QUICK}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define HERODEATHS 
    [event]
    name=attack
    
        [filter]
            side=1,2
            [has_attack]
                type=blade 
                special_id=marksman 
            [/has_attack]
        [/filter]

        [filter_second]
            race=elf 
        [/filter_second]

        [filter_condition]
            [variable]
                name=elfcleaver
                not_equals=1 
            [/variable]
        [/filter_condition]

        {VARIABLE elfcleaver 1}

        [message]
            speaker=unit 
            message= _ "Strike true, Elfcleaver!"
        [/message]
        [message]
            speaker=second_unit
            message= _ "Aaagh! It's the cursed dwarvish axe!"
        [/message]
    [/event]
    [event]
    name=last breath 
        [filter]
            id=Farin
        [/filter]
        [message]
            speaker=unit 
            message= _ "No!"
        [/message]

        [endlevel]
            result=defeat 
            reveal_map=no 
        [/endlevel]
    [/event]

    [event]
    name=last breath 
        [filter]
            id=Arbald 
        [/filter]
        [message]
            speaker=unit 
            message= _ "Ugh!"
        [/message]
        [endlevel]
            result=defeat 
            reveal_map=no 
        [/endlevel]
    [/event]
    
    [event]
    name=last breath 
        [filter]
            id=Brim
        [/filter]
        [message]
            speaker=unit 
            message= _ "Ah..."
        [/message]
        [endlevel]
            result=defeat 
            reveal_map=no
        [/endlevel]
    [/event]
    [event]
    name=die

        [filter_second]
            id=Rashakan 
        [/filter_second]
        [filter_condition]
            [variable]
                name=Rashakan_attacked 
                not_equals=1 
            [/variable]
        [/filter_condition]
        {VARIABLE Rashakan_attacked 1}

        [message]
            speaker=Rashakan 
            message= _ "The hunt continues!"
        [/message]
    [/event]
    [event]
    name=last breath

        [filter]
            id=Rashakan 
        [/filter]

        [message]
            speaker=Rashakan 
            message= _ "I die as a warrior... My ancestors will have no cause to shame me."
        [/message]
    [/event]
    [event]
    name=die

        [filter]
            id=Rashakan 
        [/filter]

        [message]
            side=$unit.side 
            canrecruit=yes 
            message= _ "A pity he fell. I had hoped to forge something with dragonfire."
        [/message]
    [/event]
#enddef

