#textdomain wesnoth-tsotra
#define TSOTRA_RUNIC_OPTION ID NAME DESC ICON COST EFFECT_WML
    image={ICON}
    cost={COST}
    label= {NAME} + " <span style='italic'> (" + _"$cost|g" + ")</span>"
    description = {DESC}
    [command]
        [if]
            [variable]
                name=unit.variables.{ID}_rune
                equals=yes
            [/variable]
            [then]
                [message]
                    speaker=unit
                    message=_"I already have this one..."
                [/message]
            [/then]
            [else]
                [store_gold]
                    side=$unit.side
                    variable=gold_check
                [/store_gold]
                [if]
                    [variable]
                        name=gold_check
                        less_than={COST}
                    [/variable]
                    [then]
                        [message]
                            speaker=unit
                            message=_"We don’t have the funds..."
                        [/message]
                        [set_variable]
                            name=no_funds
                            value=yes
                        [/set_variable]
                    [/then]
                    [else]
                        [set_variable]
                            name=unit.variables.{ID}_rune
                            value=yes
                        [/set_variable]
                        [unstore_unit]
                            variable=unit
                            find_vacant=no
                        [/unstore_unit]
                        [gold]
                            side=$unit.side
                            amount=-{COST}
                        [/gold]
                        [object]
                            silent=yes
                            duration=scenario
                            [filter]
                                id=$unit.id
                            [/filter]
                            [effect]
                                apply_to=overlay
                                add=misc/rune_overlay.png
                            [/effect]
                            {EFFECT_WML}
                        [/object]
                    [/else]
                [/if]
                {CLEAR_VARIABLE gold_check}
            [/else]
        [/if]
    [/command]
#enddef
#define TSOTRA_RUNIC_CHEST_GENERIC OPTION_WML X Y
    [event]
        name=prestart
        [item]
            x,y={X},{Y}
            image=items/chest-plain-closed.png
            name=rune_shop_overlay
        [/item]
        [set_variable]
            name=chest_{X}_{Y}
            value=yes
        [/set_variable]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1,2
            race=dwarf
            x,y={X},{Y}
        [/filter]
        [filter_condition]
            [variable]
                name=chest_{X}_{Y}
                equals=yes
            [/variable]
        [/filter_condition]
        {CLEAR_VARIABLE chest_{X}_{Y}}
        [rune_choice]
            speaker=unit
            message= _ "This is part of our stash of field runes, we can use them to get a small temporary boost. We don’t have very many though, and need to contribute funds for replacements. Should I take this one?"
            [option]
                default=yes
                image=attacks/blank-attack.png~BLIT(icons/unit-groups/cross_30.png~SCALE(60,60),0,0)
                label= _ "No"
                description = _ "Not now."
                [command]
                    [set_variable]
                        name=chest_{X}_{Y}
                        value=yes
                    [/set_variable]
                [/command]
            [/option]
            {OPTION_WML}
        [/rune_choice]
    [/event]

#enddef

#define TSOTRA_RUNIC_CHEST_SWIFTNESS X Y
    {TSOTRA_RUNIC_CHEST_GENERIC (
        [option]
            {TSOTRA_RUNIC_OPTION "swiftness" (_ "Swiftness") (_ "Adds 1 MP") ("misc/rune_icon.png~BLIT(scenery/summoning-circle4.png~CROP(6,6,60,60),0,0)") 8 (
                [effect]
                    apply_to=movement
                    increase=1
                [/effect]
            )}
            [+command]
                [if]
                    [variable]
                        name=no_funds
                        equals=yes
                    [/variable]
                    [then]
                        [set_variable]
                            name=chest_{X}_{Y}
                            value=yes
                        [/set_variable]
                    [/then]
                    [else]
                        [remove_item]
                            x,y={X},{Y}
                            image=items/chest-plain-closed.png
                        [/remove_item]
                        [item]
                            x,y={X},{Y}
                            image=items/chest-plain-open.png
                        [/item]
                    [/else]
                [/if]
                {CLEAR_VARIABLE no_funds}
            [/command]
        [/option]
    ) {X} {Y}}
#enddef

#define TSOTRA_RUNIC_CHEST_ACCURACY X Y
    {TSOTRA_RUNIC_CHEST_GENERIC (
        [option]
            {TSOTRA_RUNIC_OPTION "accuracy" (_ "Accuracy") (_ "Increases ranged weapon accuracy by 10%") ("misc/rune_icon.png~BLIT(scenery/summoning-circle5.png~CROP(6,6,60,60),0,0)") 10 (
                [effect]
                    apply_to=attack
                    range=ranged
                    increase_accuracy=10
                [/effect]
            )}
            [+command]
                [if]
                    [variable]
                        name=no_funds
                        equals=yes
                    [/variable]
                    [then]
                        [set_variable]
                            name=chest_{X}_{Y}
                            value=yes
                        [/set_variable]
                    [/then]
                    [else]
                        [remove_item]
                            x,y={X},{Y}
                            image=items/chest-plain-closed.png
                        [/remove_item]
                        [item]
                            x,y={X},{Y}
                            image=items/chest-plain-open.png
                        [/item]
                    [/else]
                [/if]
                {CLEAR_VARIABLE no_funds}
            [/command]
        [/option]
    ) {X} {Y}}
#enddef

#define TSOTRA_RUNIC_CHEST_FORCE X Y
    {TSOTRA_RUNIC_CHEST_GENERIC (
        [option]
            {TSOTRA_RUNIC_OPTION "force" (_ "Force") (_ "Increases melee weapon damage by 2") ("misc/rune_icon.png~BLIT(scenery/summoning-circle6.png~CROP(6,6,60,60),0,0)") 8 (
                [effect]
                    apply_to=attack
                    range=melee
                    increase_damage=2
                [/effect]
            )}
            [+command]
                [if]
                    [variable]
                        name=no_funds
                        equals=yes
                    [/variable]
                    [then]
                        [set_variable]
                            name=chest_{X}_{Y}
                            value=yes
                        [/set_variable]
                    [/then]
                    [else]
                        [remove_item]
                            x,y={X},{Y}
                            image=items/chest-plain-closed.png
                        [/remove_item]
                        [item]
                            x,y={X},{Y}
                            image=items/chest-plain-open.png
                        [/item]
                    [/else]
                [/if]
                {CLEAR_VARIABLE no_funds}
            [/command]
        [/option]
    ) {X} {Y}}
#enddef

#define TSOTRA_CLEAR_RUNE_VARS SIDE
    [modify_unit]
        [filter]
            side={SIDE}
        [/filter]
        {CLEAR_VARIABLE swiftness_rune,accuracy_rune,force_rune}
    [/modify_unit]
#enddef

#define BIRD_SOUND X Y
    [event]
        name=new turn
        first_time_only=no
        [store_time_of_day]
            variable=time_of_day
        [/store_time_of_day]

        [if]
            [not]
                [variable]
                    name=time_of_day.id
                    equals=first_watch
                [/variable]
                [or]
                    [variable]
                        name=time_of_day.id
                        equals=second_watch
                    [/variable]
                [/or]
            [/not]
            [then]
                [sound_source]
                    id=birds_{X}_{Y}
                    sounds=ambient/birds1.ogg,ambient/birds2.ogg,ambient/birds3.ogg
                    delay=50000
                    chance=10
                    check_fogged=no
                    loop=1
                    x={X}
                    y={Y}
                    full_range=3
                    fade_range=5
                [/sound_source]
            [/then]
            [else]
                [remove_sound_source]
                    id=birds_{X}_{Y}
                [/remove_sound_source]
            [/else]
        [/if]
        {CLEAR_VARIABLE time_of_day}
    [/event]
#enddef
